/* Basic resets and body styling */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;

}
header.navbar {
    display:flex;
    justify-content: right;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 251, 251);
    padding: 50px;
    padding-bottom: 10px; /* Reduced padding for smaller screens */
    z-index: 1000;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-top: 30px;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 10px;
    position: relative;

    
}

nav ul li a, nav ul li input {
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li input {
    border: none;
    border-radius: 4px;
    padding: 5px;
}

nav ul li .dropdown-content, nav ul li .profile-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul li .dropdown-content a, nav ul li .profile-content a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

nav ul li .dropdown-content a:hover, nav ul li .profile-content a:hover {
    background-color: #799ade;
}

nav ul li:hover .dropdown-content, nav ul li:hover .profile-content {
    display: block;
}
nav ul li #search-icon i {
    font-size: 1.5em;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    header.navbar {
        padding: 10px; /* Adjusted padding for smaller screens */
    }

    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: #000000; /* Background color for the collapsed menu */
        position: absolute;
        top: 100%; /* Position the menu below the navbar */
        left: 0;
        width: 100%;
        
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0; /* Adjusted margin for smaller screens */
    }
}
/* Add this CSS to your existing styles */

/* Mobile Menu Styles */
.menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #000000;
        padding: 20px;
        text-align: center;
        z-index: 1000;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        display: block;
        padding: 10px 0;
    }

    .dropdown-content {
        display: none;
        position: relative;
    }

    .dropdown-content a {
        display: block;
        padding: 10px 0;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}
/* New CSS for menu animation */
.nav-links {
    display: none;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

.nav-links.show {
    display: block;
    transform: translateY(0);
}


/* Media Query for larger screens */
@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }

    .nav-links {
        display: flex !important;
        justify-content: flex-end;
    }
}
.main-content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%; /* Adjust as needed */
    max-width: 600px; /* Set a maximum width for better responsiveness */
    padding: 20px;
    box-sizing: border-box;
}

.content-overlay h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.content-overlay p {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-overlay button {
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 40px;
    background-color: rgba(3, 3, 3, 0.12); /* Adjust transparency as needed */
    color: white;
    border: 2px solid white; /* Adjust border properties as needed */
    cursor: pointer;
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content-overlay button:hover {
    background-color: rgba(68, 68, 68, 0.5); /* Adjust hover background color */
}

/* Additional styles for better responsiveness */
@media screen and (max-width: 768px) {
    .content-overlay {
        width: 90%; /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .content-overlay {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }
    .content-overlay h1 {
        font-size: 35px;
    }
    
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust width for responsiveness */
    max-width: 400px; /* Set maximum width */
    max-height: 80%; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    background-color: rgba(0, 0, 0, 0.6);
    
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.modal-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal-button:hover {
    background-color:#799ade ;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .modal {
        width: 90%; /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .modal {
        width: 95%; /* Adjust width for even smaller screens */
        max-width: none; /* Remove max-width restriction */
    }

    .modal-content {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .close {
        top: 5px;
        right: 5px;
    }

    .modal-button {
        padding: 8px 16px; /* Adjust button padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}



.discover {
    padding: 60px 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.discover h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.discover p {
    font-size: 1.2em;
    color: #34495e;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto 40px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.discover .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.discover .feature {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    flex: 1 1 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.discover .feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.discover .feature i {
    font-size: 3em;
    color: #799ade;
    margin-bottom: 20px;
}

.discover .feature h2 {
    font-size: 1.5em;
    color: #799ade;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.discover .feature p {
    font-size: 1em;
    color: #34495e;
    line-height: 1.6;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Responsive Design */
@media (max-width: 768px) {
    .discover .features {
        flex-direction: column;
        align-items: center;
    }

    .discover .feature {
        max-width: 90%;
    }
}

/* Today's Topic Section */
.todays-topic {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.todays-topic h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.topic {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(25% - 20px);
    min-width: 250px;
    max-width: 300px;
    text-align: left;
}

.topic img {
    width: 100%;
    height: 150px; /* Add a fixed height */
    object-fit: cover; 
}


.topic p {
    font-size: 1em;
    padding: 0 10px 10px;
    color: #555;
    font-family: "Roboto Mono", monospace;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.topic:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.topic:hover img {
    filter: brightness(0.8);
}

/* Recommended for You Section */
.recommended-for-you {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.recommended-for-you h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
}

.recommended-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.recommended {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(25% - 20px);
    min-width: 250px;
    max-width: 300px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recommended img {
    width: 100%;
    height: auto;
}

.recommended h3 {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 0 10px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.recommended p {
    font-size: 1em;
    padding: 0 10px 10px;
    color: #555;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.recommended:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recommended:hover img {
    filter: brightness(0.8);
}

.recommended:hover h3, .recommended:hover p {
    color: #799ade; /* Change to your preferred hover color */
}
/* Grey Section */
.grey-section {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.grey-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grey-content p {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.explore-button {
    background-color: #000000; /* Button background color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.explore-button:hover {
    background-color: #799ade; /* Button hover background color */
    transform: translateY(-2px);
}
/* Image Gallery Section */
.image-gallery {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.image-gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    position: relative;
    flex: 1 1 calc(33% - 20px);
    max-width: calc(33% - 20px);
    box-sizing: border-box;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
    aspect-ratio: 4 / 3; /* Maintain a 4:3 aspect ratio */
}

.gallery-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

.gallery-item:hover::after {
    opacity: 1;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

/* Explore, Connect, and Contribute Section */
.explore-connect-contribute {
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
}

.explore-connect-contribute h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.ecc-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.ecc-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ecc-item i {
    font-size: 3em;
    color: #799ade;
    margin-bottom: 10px;
}

.ecc-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.ecc-item p {
    font-size: 1em;
    color: #666;
    font-family: "Roboto Mono", monospace;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ecc-item:hover {
    transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .ecc-container {
        flex-direction: column;
        align-items: center;
    }
}
/* User Reviews Section */
.user-reviews {
    text-align: center;
    padding: 40px 0;
    background-color: #f9f9f9;
}

.user-reviews h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.reviews-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.review-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.review-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.review-card .rating {
    color: #799ade;
    margin-bottom: 10px;
}

.review-card p {
    font-size: 1em;
    color: #666;
    font-family: "Roboto Mono", monospace;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.review-card:hover {
    transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .reviews-container {
        flex-direction: column;
        align-items: center;
    }
}
/* Join the Adventure Section */
.join-adventure {
    text-align: center;
    padding: 40px 0;
    background-color: #e0e0e0;
    color: #333;
}

.join-adventure h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.join-adventure p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: "Roboto Mono", monospace;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    font-size: 2em;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #799ade; /* Change to your desired hover color */
}

/* Contact Section */
.contact-section {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.map-container {
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 20px;
}

.contact-info {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    margin-top: 0;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.contact-info p {
    margin: 10px 0;
    font-family: "Roboto Mono", monospace;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact-info .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-info .social-icons a {
    font-size: 1.5em;
    color: #333;
    transition: color 0.3s ease;
}

.contact-info .social-icons a:hover {
    color: #799ade;
}
/* Footer Section */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 10px; /* Reduce padding */
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px;
}

.footer-item {
    flex: 1;
    min-width: 200px;
    margin: 10px; /* Reduce margin */
}

.footer-item a {
    text-decoration: none;
    color: inherit;
}

.footer-item h3 {
    font-size: 1.2em; /* Reduce font size */
    margin-bottom: 5px; /* Reduce margin */
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footer-item p {
    font-size: 0.9em; /* Reduce font size */
    line-height: 1.4;
    font-family: "Roboto Mono", monospace;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-item a:hover h3,
.footer-item a:hover p {
    color: #799ade;  /* Change the color on hover */
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.8em; /* Reduce font size */
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items vertically */
    }

    .footer-item {
        margin: 5px; /* Reduce margin */
    }

    .footer-bottom p {
        font-size: 0.7em; /* Further reduce font size */
    }
}


